<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- import the webpage's stylesheet -->
  <link rel="stylesheet" href="/style.css">

  <!-- import the webpage's client-side javascript file -->
  <script src="/client.js" defer></script>
  <title>FCC Timestamp Microservice</title>
</head>

<body>
  <div class="container">
    <h2>API Project: URL Shortener Microservice</h2>
    <form action="/api/shorturl/new" method="post">
      <label for="url">Enter url</label>
      <input type="text" name="url" id="url">
      <input type="submit" value="Create link">
    </form>

</body>

</html>